body {
  font-family: 'Roboto', sans-serif;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #0f172a; 
  color: #e2e8f0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

header{
  margin: -20;
  padding: 0;
  background-color: #0a0d13;
}
/* Navbar */
.navbar {
  background-color: #1e1e1e !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.navbar-brand {
  color: #f1f1f1 !important;
}

#navbar-example2 .nav-link.dropdown-toggle {
  color: #f1f1f1 !important; 
}

#navbar-example2 .dropdown-menu {
  background-color: #333 !important;
}

#navbar-example2 .dropdown-item {
  color: #f1f1f1 !important;
  background-color: #333 !important;
}

#navbar-example2 .dropdown-item:hover{
  background-color: #444444 !important;
}


/* Banner */
.banner {
  text-align: center;
  background: #0a0d13; 
  color: #e2e8f0;
  padding: 1% 0;
}

.banner h1 {
  font-size: 2.5rem;
}

.banner p {
  font-size: 1.2rem;
  color: #94a3b8;
}

.banner-img {
  height: 400px;
  object-fit: cover;
  filter: brightness(0.8);
}

.banner-carousel-wrapper {
  position: relative;
}

.profile-picture {
  position: absolute;
  bottom: -10px;
  left: 10px;
  width: 150px;
  height: 150px;
  z-index: 10;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #94a3b8;
}

.social-icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: #0a0d13;
  border-radius: 50%;
  transition: transform 0.2s, background-color 0.2s;
}

.social-icons a:hover {
  background-color: #4a515b; 
  transform: scale(1.1);
}

.social-icons img {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.popover {
  background-color: #e5e5e5; /* gris clarito */
  color: #222; /* texto oscuro */
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 0.9rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  max-width: fit-content;
}

.popover.bs-popover-top > .popover-arrow::before,
.popover.bs-popover-bottom > .popover-arrow::before,
.popover.bs-popover-start > .popover-arrow::before,
.popover.bs-popover-end > .popover-arrow::before {
  border-color: transparent;
}

.popover.bs-popover-top > .popover-arrow::after {
  border-top-color: #e5e5e5;
}

.popover.bs-popover-bottom > .popover-arrow::after {
  border-bottom-color: #e5e5e5;
}

.popover.bs-popover-start > .popover-arrow::after {
  border-left-color: #e5e5e5;
}

.popover.bs-popover-end > .popover-arrow::after {
  border-right-color: #e5e5e5;
}

/* Secciones */
.section-title {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

section {
  padding: 60px 0;
  background-color: #0f172a;
  color: #e2e8f0;
}

section:nth-of-type(even) {
  background-color: #1e293b;
}

#about{
  padding-left: 10%;
  padding-right: 10%;
  text-align:justify;
}

#education{
  padding-left: 10%;
  padding-right: 10%;
  text-align:center;
}

#experience{
  padding-left: 10%;
  padding-right: 10%;
  text-align:justify;
}

#skills{
  padding-left: 10%;
  padding-right: 10%;
  text-align:justify;
}

.card{
  background-color: #1e293b;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* Footer */
footer {
  margin-top: 0px;
  text-align: center;
  background-color: #1e1e1e;
  color: #94a3b8;
  padding: 15px;
  border-top: 1px solid #2d3748;
}

/*login*/
html {
  height: 100%;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

